{{#hasFrontmatter}}
---
{{#frontmatterEntries}}
{{name}}: {{value}}
{{/frontmatterEntries}}
---
{{/hasFrontmatter}}
# {{title}}
{{#hasTags}}
{{tagsLine}}
{{/hasTags}}
{{#hasBody}}

{{body}}
{{/hasBody}}
{{#hasLinks}}

## Related

{{#links}}
- [[{{ref}}]]
{{/links}}
{{/hasLinks}}
